@import '../../scss/variables';

.button {
    background: none;
    border: 1px solid rgba($azure-radiance, 0.5);
    color: $azure-radiance;
    padding: 13px 10px;
    text-align: center;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;

    &:hover {
        border-color: $azure-radiance;
    }

    &:focus,
    &:active {
        outline: none;
    }
}
