.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;

    &__logo {
        max-width: 300px;
        margin: 0 auto;
    }

    .jumbotron {
        margin-bottom: 0;
    }
}
