@import '../../scss/mixins/font-size';
@import '../../scss/variables';

.sidebar {
    &__logo {
        max-width: 80px;
    }

    &__body {
        padding: 50px 0;
    }

    &__sub-title {
        @include font-size(16);
        color: rgba($abbey, .6);
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 5px;
    }

    &__title {
        @include font-size(38);
        font-weight: 600;
        line-height: 38px;
    }

    &__details {
        margin-top: 15px;
        color: rgba($abbey, .6);
    }

    &__details-row {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    &__details-icon {
        display: flex;
        justify-content: center;
        width: 16px;
        margin-right: 10px;
    }

    &__caption {
        margin-top: 25px;
    }
}
